@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: soria;
    src: url(/public/soria-font.ttf);
}
/* 
@font-face {
    font-family: mT;
    src: url(/public/GIL_____.TTF);
} */

body{
    font-family: soria;
    /* background-image: url(./img/hombg.jpg);
    background-position:center ; */
    background-repeat: no-repeat;
    /* background-size:cover ; */
    


}
#ft{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: red; */
}